@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
    font-size: 18px;

}
body{
    background-color: rgba(250, 128, 114, 0.219);
    background-image: url(book.png);
}
.flex{
    display: flex;
    margin-top: 7em;
    margin-left: 10em;
    gap: 10em;
}
.flex1{
    color: rgb(20, 20, 48);
    margin-top: 10em;
    width: 35%;
}
.flex2{
     display: flex;
     flex-direction: column;
     gap: 7px;
     width: 40%;

}
.top{
     background-color: rgb(60, 60, 121);
     border-radius: 5px;
     padding: 0.9em;
     font-size: 15px;
}
.cont{
    background-color: salmon;
    border-radius: 10px;
    padding-left: 3em;
    padding-top: 3em;
    font-size: 16px;
}
input{
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 70%;
}
label{
    color: whitesmoke;
}
button{
    border-radius: 30px;
    padding: 0.4em;
    width: 25%;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button{
    border-radius: 30px;
    padding: 0.4em;
    width: 30%;
    font-size: 20px;
    margin-left: 9.7em;
    cursor: pointer;
    background-color:rgb(60, 60, 121);
    color: whitesmoke;
}
button:hover{
    background-color: #665599;
    transition-duration: 0.4s;
}
.foot{
    font-size: 16px;
}
#intro{
    font-size: 45px;
}
@media (min-width: 350px) and (max-width: 860px) {
    .body{
        margin: 0%;
        padding: 0%;
        height: 100%;
        width: 100%;

    }
    .flex{
        display: block;
        width: 100%;
        margin-top: -7em;
        margin-left: 0.1em;
    }
    .flex1{
        width:80%;
        padding-bottom:4em;
        margin-left: 2em;
    }
    .top{
        background-color: rgb(60, 60, 121);
        border-radius: 5px;
        padding: 0.8em;
        font-size: 13px;
        text-align: center;
   }
    .flex2{
     padding-bottom: 10em;  
     width: 80%; 
     margin-left: 2em;
    }
    .cont{
        background-color: salmon;
        border-radius: 10px;

        font-size: 10px;
    }
    button{
        padding: 0.4em;
        width: 30%;
        font-size: 15px;
        margin-left: 9em;
}
input{
    padding: 0.4em;
}
label{
    font-size: 14px;
}
.foot{
    font-size: 12px;
}
#intro{
    font-size: 35px;
}
}
